In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import json
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
import zipfile
import warnings

##### [RQ7] Estimating probabilities is a core skill for a data scientist: show us your best!

- Estimate the probability that a book has over 30% of the ratings above 4.
- Estimate the probability that an author publishes a new book within two years from its last work.
- In the file list.json, you will find a peculiar list named "The Worst Books of All Time." Estimate the probability of a book being included in this list, knowing it has more than 700 pages.
- Are the events X=’Being Included in The Worst Books of All Time list’ and Y=’Having more than 700 pages’ independent? Explain how you have obtained your answer.

In [10]:
processed_rows = 0
list_head = None
filename = "LargeBooksKaggle"

zip_path = None
# load config
with open('config.json') as cfg:
    cfg = json.load(cfg)
    zip_path = os.path.join(cfg["datadir"], filename + '.' + "zip")
    # print(path)
    processed_rows = 0

    # zip_path = "F:/adm/LargeBooksKaggle.zip"
    # json_path = r"authors.json/authors.json"
    json_path = r"list.json/list.json"
    with zipfile.ZipFile(zip_path, 'r') as zip_ref:
        with zip_ref.open(json_path) as f:
            # print("hello")
            # print(f.readline())
            list_head = pd.read_json(f, lines=True,  nrows = 10**2)

list_head

100

,id,title,description,description_html,num_pages,num_books,num_voters,created_date,tags,num_likes,created_by,num_comments,books
0,2,The Worst Books of All Time,What do you think are the worst books ever wri...,\n What do you think are the worst books ...,74,7395,18260,"May 20th, 2008","[abominable, abomination, awful, bad, disgusti...",175,"{'name': 'Michael Economy', 'id': '73'}",2570,"[{'book_id': '41865', 'title': 'Twilight', 'au..."
1,3,Best Science Fiction & Fantasy Books,Anything in the science fiction or fantasy gen...,\n Anything in the science fiction or fan...,71,7023,21747,"May 29th, 2008","[best-fantasy, best-science-fiction, earliest-...",2989,"{'name': 'deleted user', 'id': ''}",307,"[{'book_id': '375802', 'title': 'Ender's Game'..."
2,4,Best Books of 2008,The best books first published during 2008.See...,\n The best books first published during ...,17,1678,6939,"May 29th, 2008","[2008, best, by-year, earliest-list, fiction, ...",59,"{'name': 'deleted user', 'id': ''}",181,"[{'book_id': '2767052', 'title': 'The Hunger G..."
3,5,Best Books of the Decade: 2000s,The best books published during the 2000s deca...,\n The best books published during the 20...,70,6919,28249,"May 29th, 2008","[2000, 2001, 2002, 2003, 2004, 2005, 2006, 200...",1192,"{'name': 'deleted user', 'id': ''}",163,"[{'book_id': '136251', 'title': 'Harry Potter ..."
4,6,Best Books of the 20th Century,The best books published during the 20th centu...,\n The best books published during the 20...,76,7600,49437,"May 29th, 2008","[20th, 20th-century, best, by-century, by-year...",6083,"{'name': 'deleted user', 'id': ''}",510,"[{'book_id': '2657', 'title': 'To Kill a Mocki..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,104,The MOVIE was BETTER than the BOOK,It may be like pulling teeth to get a reader t...,\n It may be like pulling teeth to get a ...,11,1015,9985,"June 26th, 2008","[book-to-film, film-to-book, movies]",443,"{'name': 'JG (Introverted Reader)', 'id': '484...",378,"[{'book_id': '21787', 'title': 'The Princess B..."
96,106,Best Books of 1981,The best books published during 1981.See best ...,\n The best books published during 1981.<...,3,216,133,"June 26th, 2008","[1981, best, date, period, time]",22,"{'name': 'deleted user', 'id': ''}",9,"[{'book_id': '10603', 'title': 'Cujo', 'author..."
97,107,Best Books of 1982,The best books published during 1982.See best ...,\n The best books published during 1982.<...,3,243,145,"June 26th, 2008","[1982, best]",15,"{'name': 'deleted user', 'id': ''}",2,"[{'book_id': '11486', 'title': 'The Color Purp..."
98,108,Best Books of 1984,The best books published during 1984.See best ...,\n The best books published during 1984.<...,3,271,126,"June 26th, 2008","[1984, best]",22,"{'name': 'deleted user', 'id': ''}",2,"[{'book_id': '8698', 'title': 'So Long, and Th..."
99,109,Best Books of 1985,The best books published during 1985.See best ...,\n The best books published during 1985.<...,4,306,174,"June 26th, 2008","[1985, best]",21,"{'name': 'deleted user', 'id': ''}",5,"[{'book_id': '38447', 'title': 'The Handmaid's..."

In [38]:
# list_head.loc("0","books")
# list_head.loc['0']['boooks']
worst_books_of_all_time = list_head[list_head['title']=="The Worst Books of All Time"]["books"]
if len(worst_books_of_all_time) == 1:
    worst_books_of_all_time = worst_books_of_all_time[0]
else:
    if len(worst_books_of_all_time) < 1:
        warnings.warn("Less than one entry")
        # raise Exception("invalid data")
    if len(worst_books_of_all_time) > 1:
        warnings.warn("More  than 1 entry")

In [45]:
worst_books_of_all_time
worst_book_ids_of_all_time = [ entry['book_id'] for entry in worst_books_of_all_time ]
print(len(worst_book_ids_of_all_time))
print(len(set(worst_book_ids_of_all_time)))
worst_book_ids_of_all_time

7393
7393

['41865',
 '1162543',
 '49041',
 '428263',
 '10818853',
 '6263078',
 '6076107',
 '3090465',
 '564449',
 '968',
 '4013201',
 '1812457',
 '747061',
 '2183067',
 '48625',
 '993455',
 '569357',
 '3975774',
 '19501',
 '7937462',
 '9742',
 '7455',
 '5107',
 '240469',
 '119322',
 '8714',
 '8752457',
 '11857408',
 '675626',
 '6411961',
 '7613',
 '8135213',
 '9416',
 '3268926',
 '96833',
 '252914',
 '13536860',
 '35220',
 '6867',
 '56495',
 '3636',
 '2657',
 '703847',
 '252917',
 '6487308',
 '13079982',
 '7624',
 '4900',
 '1656001',
 '10920',
 '32261',
 '6478256',
 '70401',
 '801178',
 '139253',
 '43763',
 '662',
 '5308',
 '18144590',
 '227443',
 '37781',
 '629',
 '81176',
 '37442',
 '227603',
 '30183',
 '33926',
 '186190',
 '7604',
 '667',
 '7354',
 '3754102',
 '4989',
 '234225',
 '3332986',
 '168668',
 '5470',
 '5191',
 '10210',
 '11125',
 '6538',
 '930',
 '95707',
 '5641414',
 '78411',
 '5899779',
 '256683',
 '33574273',
 '52529',
 '338798',
 '73968',
 '2956',
 '359770',
 '5129',
 '1035',
 '228333',
 '12232938',
 '1934',
 '7672',
 '36072',
 '6339664',
 '350',
 '32418',
 '18431',
 '4671',
 '2102101',
 '43889',
 '7260188',
 '375802',
 '15613',
 '233818',
 '976',
 '7588',
 '580022',
 '6185',
 '329084',
 '10975',
 '2183068',
 '6644',
 '521542',
 '2429135',
 '7317503',
 '5043',
 '58345',
 '3805',
 '37435',
 '676924',
 '113436',
 '2942053',
 '418517',
 '41817486',
 '1870244',
 '45978',
 '15931',
 '769658',
 '2767052',
 '1618',
 '1953',
 '1326258',
 '196613',
 '18619684',
 '2165',
 '5148',
 '6514',
 '77013',
 '11',
 '5907',
 '30113',
 '54270',
 '960',
 '2248573',
 '266381',
 '137791',
 '38447',
 '2623',
 '18135',
 '56157',
 '6068551',
 '11570',
 '49195',
 '88061',
 '4502877',
 '4134071',
 '10964',
 '2866718',
 '3483',
 '310259',
 '14743',
 '256566',
 '1797248',
 '26582',
 '83674',
 '3836',
 '3255666',
 '12898',
 '1032',
 '12296',
 '11505797',
 '4214',
 '2175',
 '2324854',
 '22188',
 '13584236',
 '153747',
 '3648',
 '6288',
 '14975',
 '34',
 '9844',
 '13103',
 '18490',
 '43641',
 '2839',
 '27523',
 '76334',
 '7733',
 '1295',
 '485894',
 '9010',
 '52357',
 '15860',
 '890',
 '3876',
 '252577',
 '2731276',
 '49552',
 '179166',
 '7069',
 '415',
 '363752',
 '174703',
 '6475299',
 '31338',
 '11486',
 '50',
 '76620',
 '22628',
 '11127',
 '2122',
 '5203',
 '564450',
 '14201',
 '366522',
 '157993',
 '29844228',
 '7735333',
 '6304335',
 '15823480',
 '33',
 '1885',
 '5526',
 '23578',
 '462442',
 '16188',
 '10799',
 '395922',
 '343',
 '301082',
 '11870085',
 '6',
 '2187',
 '16902',
 '3159728',
 '24929',
 '113310',
 '278210',
 '14942',
 '2932',
 '35545737',
 '23577',
 '37415',
 '100915',
 '19063',
 '4395',
 '18710190',
 '6969',
 '7763',
 '25347',
 '21726',
 '18342',
 '1923595',
 '242006',
 '7244',
 '2942051',
 '38296',
 '46799',
 '43758',
 '43448',
 '6134826',
 '228258',
 '7494',
 '37470',
 '37380',
 '30474',
 '29059',
 '8732',
 '6759',
 '249',
 '41681',
 '7437',
 '7603',
 '42432',
 '424442',
 '77203',
 '7778981',
 '17162',
 '50798',
 '13747',
 '1431',
 '1845',
 '1078',
 '1923820',
 '310612',
 '32416',
 '131797',
 '17150',
 '40580',
 '7791997',
 '54539',
 '6148028',
 '7747374',
 '7740152',
 '3',
 '7661',
 '872333',
 '1198449',
 '13521',
 '17660',
 '27528',
 '6149',
 '946001',
 '373755',
 '3821929',
 '17250',
 '43369',
 '890143',
 '196614',
 '4406',
 '65605',
 '17245',
 '1381',
 '5358',
 '6262365',
 '30236962',
 '14935',
 '10909',
 '52036',
 '4066507',
 '56073',
 '84369',
 '320',
 '90192',
 '3934321',
 '24800',
 '29100224',
 '13335037',
 '130580',
 '60748',
 '14748',
 '305234',
 '2666',
 '136251',
 '49436',
 '28194',
 '6853',
 '1829709',
 '4667024',
 '46787',
 '6581511',
 '452306',
 '4929705',
 '23576',
 '8099187',
 '77142',
 '1869',
 '1056627',
 '128029',
 '17841',
 '37743',
 '34088743',
 '32234',
 '13152',
 '13496',
 '2794',
 '24583',
 '816720',
 '323355',
 '15881',
 '10507293',
 '6952',
 '531350',
 '73062',
 '228560',
 '12781',
 '9717',
 '5246',
 '4953',
 '345627',
 '18373',
 '19288043',
 '31333',
 '28676',
 '370493',
 '83221',
 '11713',
 '7144',
 '29797',
 '16640',
 '32499',
 '24770',
 '4894',
 '39999',
 '5359',
 '1274',
 '1031',
 '18512',
 '3777732',
 '1256194',
 '2865',
 '43945',
 '46170',
 '4407',
 '9915',
 '17383917',
 '11901',
 '22288',
 '1091633',
 '5355',
 '6150',
 '119073',
 '9712',
 '10073',
 '219205',
 '1582996',
 '1661957',
 '1630729',
 '32067',
 '9369720',
 '417549',
 '6406',
 '6334',
 '668',
 '33993',
 '3159726',
 '32692',
 '22232',
 '4042',
 '9777',
 '227711',
 '169864',
 '18402',
 '18405',
 '4473',
 '129570',
 '22070264',
 '5139',
 '71728',
 '2574850',
 '29056083',
 '9753375',
 '816870',
 '12691',
 '295',
 '15241',
 '3682',
 '3679',
 '6186357',
 '8667848',
 '17347634',
 '15575',
 '10441',
 '15985348',
 '98897',
 '4070493',
 '656',
 '6752378',
 '332613',
 '10429045',
 '6101718',
 '347852',
 '18122',
 '2479827',
 '6202342',
 '35800325',
 '228665',
 '17303665',
 '18517255',
 '18517266',
 '783291',
 '3432478',
 '43035',
 '297673',
 '480479',
 '2722413',
 '18553',
 '11337',
 '727078',
 '10637766',
 '3236307',
 '223556',
 '755569',
 '28187',
 '43615',
 '10365',
 '1241',
 '69571',
 '85795',
 '5826',
 '38262',
 '2',
 '7445',
 '5',
 '17716',
 '386187',
 '7061',
 '10614',
 '399040',
 '24280',
 '10917',
 '55273978',
 '21704',
 '266380',
 '18500525',
 '3431',
 '7198988',
 '17239876',
 '12948',
 '5297',
 '2152',
 '85791',
 '2612',
 '455373',
 '3985',
 '85386',
 '32542',
 '4268',
 '38980',
 '21787',
 '11735983',
 '112725',
 '574361',
 '8650',
 '35982',
 '5015',
 '769787',
 '6900',
 '815870',
 '3393124',
 '318525',
 '766020',
 '6387565',
 '54777620',
 '13628209',
 '544891',
 '393060',
 '661304',
 '263147',
 '112',
 '601733',
 '136167',
 '9361589',
 '43814',
 '227265',
 '231804',
 '395871',
 '162898',
 '4981',
 '11564',
 '7937843',
 '1',
 '392266',
 '392217',
 '5161',
 '18254',
 '5204',
 '10873',
 '7745',
 '4078927',
 '414500',
 '37744',
 '479415',
 '402045',
 '1840511',
 '761732',
 '5809',
 '19747756',
 '231',
 '84981',
 '4934',
 '1400307',
 '7332',
 '122756',
 '41193',
 '526764',
 '42156',
 '11588',
 '30271',
 '402013',
 '2508164',
 '22557520',
 '99561',
 '48855',
 '3388',
 '7896527',
 '46777',
 '15926',
 '103610',
 '15858',
 '83223',
 '9395215',
 '30228',
 '32650',
 '7739934',
 '530270',
 '239148',
 '307791',
 '9969571',
 '106085',
 '5639869',
 '2526',
 '1232',
 '10412',
 '234184',
 '2321296',
 '646462',
 '227941',
 '3463',
 '124509',
 '264',
 '259693',
 '212474',
 '162085',
 '30597',
 '5038',
 '2958921',
 '121127',
 '13139',
 '8664368',
 '7126',
 '15622',
 '12873',
 '28881',
 '73186',
 '24580',
 '12716010',
 '6390',
 '30324',
 '6251390',
 '5356',
 '3950967',
 '266384',
 '6654313',
 '12497',
 '6310',
 '68591',
 '153008',
 '17020',
 '489468',
 '4929',
 '353016',
 '45195',
 '2914683',
 '7982567',
 '66717',
 '10031702',
 '13214',
 '28001',
 '2998',
 '101299',
 '10605',
 '22076',
 '28078',
 '7905092',
 '5064',
 '21996',
 '6400090',
 '2115',
 '4758093',
 '160458',
 '1055617',
 '7677',
 '6392',
 '88634',
 '40102',
 '5187',
 '9375',
 '6917952',
 '1852',
 '998133',
 '443540',
 '2536134',
 '10916',
 '13529',
 '6395',
 '5834059',
 '1599063',
 '496670',
 '5198',
 '10596',
 '8726744',
 '71332',
 '5056084',
 '76139',
 '1419286',
 '19543',
 '24731',
 '16248068',
 '39843829',
 '39844304',
 '1333713',
 '48511504',
 '10583',
 '24178',
 '493456',
 '601773',
 '5360',
 '439288',
 '1427',
 '29346729',
 '169756',
 '253058',
 '3548409',
 '8235178',
 '7171637',
 '6256512',
 '89691',
 '29547',
 '38709',
 '5351',
 '5060378',
 '9349915',
 '6613956',
 '5159',
 '7631105',
 '23434061',
 '27126',
 '4004',
 '5326',
 '1617',
 '33676',
 '769483',
 '7857195',
 '6320534',
 '12700353',
 '5759',
 '5890',
 '4374400',
 '49750',
 '9460487',
 '24768',
 '14995',
 '24765',
 '30281',
 '2218656',
 '186074',
 '16527',
 '11275',
 '59839',
 '4530',
 '337058',
 '7664041',
 '41219',
 '17333223',
 '604803',
 '331319',
 '5215879',
 '1609451',
 '129579',
 '10566',
 '17402605',
 '248483',
 '53496',
 '12751687',
 '13872',
 '11946245',
 '7201913',
 '11711',
 '8652190',
 '3464',
 '7171856',
 '54487',
 '23580',
 '6690798',
 '22463',
 '676637',
 '2235597',
 '13145',
 '561402',
 '13148',
 '6412',
 '43887',
 '8787',
 '50398',
 '310146',
 '815309',
 '1424718',
 '59853',
 '1472878',
 '6413473',
 '6655491',
 '436806',
 '2967752',
 '12527',
 '92147',
 '902',
 '15398',
 '8318666',
 '6934395',
 '228261',
 '44170',
 '49628',
 '300650',
 '48328',
 '70912',
 '3614107',
 '1047759',
 '1720099',
 '23935182',
 '431648',
 '2595138',
 '37842353',
 '3919195',
 '6609758',
 '21727',
 '530848',
 '10572',
 '395875',
 '7048800',
 '20448515',
 '25373',
 '5357',
 '220563',
 '9284655',
 '32071',
 '46756',
 '6609864',
 '1430',
 '5344',
 '4605',
 '89717',
 '89399',
 '147865',
 '659635',
 '618178',
 '5113',
 '16096824',
 '5266655',
 '43893',
 '14866',
 '94812',
 '125958',
 '14249',
 '8908',
 '6400',
 '41913',
 '15348',
 '611861',
 '6949478',
 '1300605',
 '386286',
 '775346',
 '161426',
 '6969361',
 '1678033',
 '65641',
 '547094',
 '16631',
 '76778',
 '895390',
 '15447',
 '18839',
 '8909',
 '82970',
 '11761',
 '42899',
 '4137',
 '303200',
 '100924',
 '5347',
 '11597',
 '7129588',
 '3609763',
 '3711',
 '321645',
 '13157',
 '220604',
 '132025',
 '852470',
 '2129518',
 '332348',
 '10914',
 '43884',
 '6613',
 '10603',
 '7091488',
 '2318271',
 '548739',
 '319604',
 '33441',
 '1371',
 '7510',
 '611298',
 '6431790',
 '95186',
 '10585',
 '22557272',
 '6408',
 '3111957',
 '30868',
 '7933617',
 '34114362',
 '237209',
 '601740',
 '6397',
 '58696',
 '7124095',
 '16101128',
 '899325',
 '5720',
 '43892',
 '690926',
 '78433',
 '601739',
 '24275154',
 '160251',
 '147243',
 '567678',
 '32732574',
 '210293',
 '104379',
 '8852',
 '6697',
 '7869',
 '88442',
 '80660',
 '5176',
 '88077',
 '105578',
 '2520383',
 '31463',
 '6401',
 '1829655',
 '59716',
 '16068905',
 '770303',
 '1476261',
 '5091',
 '29653134',
 '13517535',
 '34039540',
 '761575',
 '6644117',
 '6976',
 '24100',
 '62032',
 '6425',
 '7920450',
 '23766634',
 '43566744',
 '7572',
 '3087',
 '65057',
 '1736739',
 '251688',
 '11691',
 '23009428',
 '405999',
 '67238',
 '668608',
 '6614',
 '18943',
 '41667',
 '13497818',
 '5168',
 '13262783',
 '28866',
 '5171894',
 '7619292',
 '5797',
 '50840',
 '38913',
 '22328',
 '7082',
 '5368',
 '228534',
 '56759',
 '10619',
 '33600',
 '257837',
 '22695',
 '50877',
 '10941624',
 '7864437',
 '830',
 '11408650',
 '5489684',
 '77507',
 '246245',
 '11590',
 '34497',
 '46544',
 '601745',
 '44184',
 '28186',
 '469571',
 '79379',
 '15924',
 '6442769',
 '86172',
 '28862',
 '554798',
 '5960207',
 '7673',
 '18412',
 '4008',
 '109513',
 '6381205',
 '6391',
 '117376',
 '6936382',
 ...]

In [13]:
list_head[list_head['title']=="The Worst Books of All Time"] # are there more than this one book?

,id,title,description,description_html,num_pages,num_books,num_voters,created_date,tags,num_likes,created_by,num_comments,books
0,2,The Worst Books of All Time,What do you think are the worst books ever wri...,\n What do you think are the worst books ...,74,7395,18260,"May 20th, 2008","[abominable, abomination, awful, bad, disgusti...",175,"{'name': 'Michael Economy', 'id': '73'}",2570,"[{'book_id': '41865', 'title': 'Twilight', 'au..."

In [23]:
# load data
# filename = "lighter_authors"
filename = "lighter_books"
books_head = None


# load config
with open('config.json') as cfg:
    cfg = json.load(cfg)
    path = os.path.join(cfg["datadir"], filename + '.' + "json")
    print(path)
    processed_rows = 0

    chunks = pd.read_json(path, lines=True, chunksize = 10**2, nrows = None, dtype={'num_pages':'int64'})
    for chunk in chunks:
        books_head = chunk
        break

F:/adm/lighter_books.json

In [48]:
books_head.dtypes.to_dict()

{'id': dtype('int64'),
 'title': dtype('O'),
 'authors': dtype('O'),
 'author_name': dtype('O'),
 'author_id': dtype('int64'),
 'work_id': dtype('int64'),
 'isbn': dtype('O'),
 'isbn13': dtype('O'),
 'asin': dtype('O'),
 'language': dtype('O'),
 'average_rating': dtype('float64'),
 'rating_dist': dtype('O'),
 'ratings_count': dtype('int64'),
 'text_reviews_count': dtype('int64'),
 'publication_date': dtype('O'),
 'original_publication_date': dtype('O'),
 'format': dtype('O'),
 'edition_information': dtype('O'),
 'image_url': dtype('O'),
 'publisher': dtype('O'),
 'num_pages': dtype('O'),
 'series_id': dtype('O'),
 'series_name': dtype('O'),
 'series_position': dtype('O'),
 'shelves': dtype('O'),
 'description': dtype('O')}

In [7]:
# load data
filename = "lighter_authors"
# filename = "lighter_books"
df_authors = None

# load config
with open('config.json') as cfg:
    cfg = json.load(cfg)
    path = os.path.join(cfg["datadir"], filename + '.' + "json")
    print(path)
    processed_rows = 0

    chunks = pd.read_json(path, lines=True, chunksize = 10**4, nrows = None)
    for chunk in chunks:
        df_authors = chunk
        break

F:/adm/lighter_authors.json

In [27]:
# dtype = {
#     'id':'int64',
# 'title':'object',
# 'authors':'object',
# 'author_name':'object',
# 'author_id':' int64',
# 'work_id':' int64',
# 'isbn':' object',
# 'isbn13':' object',
# 'asin':' object',
# 'language':' object',
# 'average_rating':'float64',
# 'rating_dist':'object',
# 'ratings_count':' int64',
# 'text_reviews_count':'int64',
# 'publication_date':' object',
# 'original_publication_date':'object',
# 'format':' object',
# 'edition_information':'object',
# 'image_url':'object',
# 'publisher':'object',
# 'num_pages':'int64',
# 'series_id':'object',
# 'series_name':'object',
# 'series_position':'object',
# 'shelves':'object',
# 'description':'object',
# 'dtype:':'object',
# 'description':'object',
# 'dtype':'object'
# }

In [47]:
processed_rows = 0
books_with_gt_700_pages_count = 0 # interpreting "more than 700 pages" as "strictly greater than ..."
worst_books_with_gt_700_pages_count = 0

zip_path = "F:/adm/LargeBooksKaggle.zip"
# json_path = r"authors.json/authors.json"
json_path = r"books.json/books.json"
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    with zip_ref.open(json_path) as f:
        # print("hello")
        # print(f.readline())
        chunks = pd.read_json(f, lines=True, chunksize = 10**2, nrows = 10**4, dtype=None )
        for chunk in chunks:
            processed_rows += len(chunk)
            chunk = chunk[["id","num_pages"]] # to shrink needed memory
            chunk = chunk[chunk["num_pages"]!=""] # to exclude books without pages mentioned.
            chunk.astype({'num_pages':'int'})
            chunk = chunk[chunk["num_pages"]>700] # to exclude books with <= 700 pages 
            books_with_gt_700_pages_count += len(chunk)
            chunk["oneOftheWorst"] = chunk.apply(lambda row : str(row['id']) in worst_book_ids_of_all_time, axis=1) # TODO: str() is necessary. It would be better if both were ints. But this raises errors.        
            worst_books_with_gt_700_pages_count += len(chunk[chunk["oneOftheWorst"]]) # we interpret over as strictly over
            # print(chunk)
            print(processed_rows) # in total

print(worst_books_with_gt_700_pages_count)
print(books_with_gt_700_pages_count)
print(worst_books_with_gt_700_pages_count / books_with_gt_700_pages_count)

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
35
381
0.09186351706036745